.cart-container{
    display: grid;
    grid-template-columns: 4fr 1.5fr;
    /* background-color: rgb(137, 178, 194); */
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 70px 30px;
    /* background-color: rgb(235, 235, 235); */

}
.container-cart{
    background-color: aliceblue;
    border-radius: 40px;
    text-align: center;
    /* position: static;
    top: 0; */
}

@media screen and (max-width:650px) {
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
}

/* @media screen and (min-width:750) {
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
} */